@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";

@layer base {
  body {
    @apply text-brand-text;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  @apply text-slate-600;
}

.p-justify {
  text-align: justify;
  text-justify: inter-word;
}

.center-hv {
  @apply flex justify-center items-center;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* google maps */
button.gm-control-active {
  opacity: 0.7;
}

.gm-style .gm-style-iw-c {
  padding: 0;
}
.gm-style .gm-style-iw-d {
  padding: 0;
  width: 300px;
  overflow: hidden !important;
}
.gm-style button.gm-ui-hover-effect {
  background: rgb(255 255 255 / 0.9) !important;
  @apply shadow top-0 right-0 !important;
}

/* odznaki */
.elementor ol {
  list-style-type: decimal;
}
.elementor ul {
  list-style-type: disc;
}
.elementor li ul {
  margin-left: 1rem;
}
.elementor h3 span,
.elementor h4 span,
.elementor h5 span {
  @apply text-brand-text;
}
.elementor h3 em,
.elementor h4 em,
.elementor h5 em {
  font-style: normal;
}

.post-article {
  @apply md:px-6 py-2 md:py-4 bg-white rounded-md text-justify;
}

.post-article img.alignleft {
  float: left;
  @apply py-4 pr-4;
}
.post-article img.alignright {
  float: right;
  @apply py-4 pl-4;
}
.post-article ol {
  @apply list-decimal;
  padding-inline-start: 2rem;
}
.post-article ul {
  @apply list-disc;
  padding-inline-start: 2rem;
}
.post-article em {
  font-style: normal;
}

.format-table table {
  min-width: 100%;
}
.format-table th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: #343a40;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}
.format-table td {
  text-align: left;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  padding: 0.75rem 1rem;
}
.format-table td.has-text-align-center {
  text-align: center;
}
