.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  font-family: var(--heading-font);
  @apply h-[52px] md:h-[90px] justify-between md:justify-start md:gap-12 px-2 md:px-5 bg-brand-green-dark text-white;
  z-index: 2;
}

.logoBox {
  z-index: 2;
}

.nav {
  @apply flex flex-col md:flex-row gap-8 self-stretch transition-all;
  flex-wrap: wrap;
}

.navItem {
  @apply relative flex items-center;
}

@media screen and (max-width: 768px) {
  .nav {
    @apply absolute bg-primary-dark mx-auto left-0 right-0 p-4;
    padding-left: 130px;
  }
  .navHidden {
    visibility: hidden;
    transform: translateY(-50%);
    opacity: 0;
  }
}

.activeLink {
  @apply link text-accent-light;
}
.activeLink::after {
  width: 90%;
  @apply bg-accent-light;
}

.link {
  @apply text-lg transition-colors;
  position: relative;
  font-weight: 600;
}
.link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 5%;
  right: 5%;
  bottom: -2px;
  background: #ccc;
  transition: width 0.3s ease-in-out;
}
.link:hover::after {
  width: 90%;
  transition: width 0.3s ease-in-out;
}
.nonLink {
  @apply transition-colors;
  position: relative;
  color: #ccc;
  font-weight: 600;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  @apply absolute -left-4 top-0 md:top-[90px];
  background: none;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  z-index: 1;
}
.slided {
  @apply border-t-2 bg-primary-dark border-gray-500 transition-all ease-out -translate-y-full;
  color: #fff;
}

.chevron {
  @apply w-4 h-4 ml-1 inline-block transition-transform;
}

.dropdown:hover .chevron {
  @apply translate-y-2;
}
.dropdown:hover .dropdownContent,
.dropdown:focus .dropdownContent {
  opacity: 1;
  visibility: visible;
}
.dropdown:hover .slided {
  @apply translate-y-0;
  opacity: 1;
  visibility: visible;
}

.dropdownItem {
  @apply block px-4 py-3;
  font-size: 14px;
  min-width: 250px;
}
.dropdownItem:hover {
  background-color: rgb(94, 108, 120);
}
