.imgBoxBig {
  position: relative;
  height: 566px;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  overflow: hidden;
}
.imgBoxFull {
  position: relative;
  height: 90vh;
  width: 88vw;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  overflow: hidden;
}
.modalWrapper {
  @apply fixed inset-0 flex flex-col bg-gray-900 overflow-hidden z-10;
  background-color: rgba(19, 19, 19, 0.97);
}
