

.imgOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease-in-out;
}

.imgOverlay:hover {
  opacity: 1;
}

.imgIcon {
  width: 1.75rem;
  height: 1.75rem;
  color: white;
  transition: transform 0.075s ease-in-out;
  transform: translateY(0.5rem);
  transition-delay: 75ms;
}

.imgOverlay:hover .imgIcon {
  transform: translateY(0);
}
