@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --heading-font: "Montserrat", sans-serif;
  --text-font: "Nunito", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 500;
}

.p-justify {
  text-align: justify;
  text-justify: inter-word;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
