@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";

@layer base {
  body {
    @apply text-brand-text;
  }
}

:root {
  --heading-font: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 500;
  @apply text-slate-600;
}

.p-justify {
  text-align: justify;
  text-justify: inter-word;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

button.gm-control-active {
  opacity: 0.7;
}
