.adnotations {
  display: grid;
  grid-row-gap: 0.5rem;
  grid-column-gap: 1rem;
  grid-template-columns: auto 1fr;
  @apply px-6 py-4;
}

.imgBox {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.img {
  object-fit: cover;
  object-position: 50% 50%;
}

.arrow {
  @apply w-6 h-6;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  top: 50%;
  display: block;
  cursor: pointer;
}

.fitImg {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
